.main{
  width: 600px;
  margin: 0px auto;
}
.title1{
  margin: 20px 0px;
  font-size: 30px;
  font-weight: bold;
}
.title2{
  margin: 15px 0px;
  font-size: 25px;
  font-weight: bold;
}
.detail{
  margin: 10px 0px;
  height: 20px;
}
.content{
  float: left;
  margin:0px 40px 0px 0px;
}
.content2{
  margin:20px 0px;
}
.bold{
  font-weight: bold;
  margin:0px 10px 0px 0px;
}
.float{
  float: left;
}
