* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
#header{
	width: 100%;

	background: #333333;
}
#header .content{
	height: 80px;
	color: white;
	position: relative;
}
.loge{
	line-height: 80px;
	font-size: 25px;
}
.headerMenu{
	position: absolute;
	top: 0px;
	right: 0px; 
}
.headerMenu div{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.headerMenu a:link{
	color: white
}
.headerMenu a:visited{
	color: white
}
.headerMenu a:hover{
	color: grey
}

#banner{
	width: 100%;

	background: #66bb33;
}
#banner .content{
	height: 300px;
	position: relative;
}
#banner .buttonList{
	height: 45px;
	position: absolute;
	bottom: 10px;
	right: 0px;
}
#banner .button{
	margin: 10px 0 0 10px;
	width: 30px;
	height: 35px;
	border: 1px solid black;
	background: white;

	text-align: center;
	line-height: 35px;
	vertical-align:bottom;

	transition: all 0.2s;
	opacity: 0.5;
	float: left;
}
#banner .button:hover{
	margin:0 0 0 10px;
	width: 30px;
	height: 45px;
	border: 1px solid black;
	background: white;

	text-align: center;
	line-height: 45px;
	vertical-align:middle;
	cursor:pointer;

	opacity: 1;
	float: left;
}
#menu{
	width: 100%;
	border-bottom: 1px solid #cccccc;
}
#menu .content{
	height: 70px;
	position: relative;
}
#menu ul{
	padding: 0px;
	margin: 0px;
	list-style: none;

	position: absolute;
	bottom: -1px;
	left: 0px;
}
#menu li:nth-of-type(1){
	padding: 15px 25px;
	border:1px solid #cccccc;
	border-bottom: 1px solid white;
	border-radius: 20px 20px 0 0;
	background: white;
	cursor:pointer;

	float: left;
}
#menu li{
	padding: 15px 25px;
	border:1px solid #cccccc;
	border-radius: 20px 20px 0 0;
	background: #eeeeee;
	cursor:pointer;

	float: left;
}
#main{
	width: 100%;
}
#main .content{
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap
}
#main .content div{
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 80px;
	text-align: center;
	border: 1px solid #cccccc;
	flex: 1;
}
#footer{
	width:100%;
	flex: 1;
	background: #666666;
}
#footer .content{
	padding: 10px 0 0 0;
	height: 100px;
	color: white;
	text-align: center;
}
.content{
	margin: 0px auto;
	width: 960px;
}